<div class="d-flex justify-content-center">
    <%= button_to "Hôm nay", admin_reportlist_path, method: :get, class:"btn btn-outline-secondary rounded-pill mx-2 px-2 py-0" %>
    <%= button_to "Hôm qua", admin_reportlist_path, method: :get, params: { option: "yesterday" }, class:"btn btn-outline-secondary rounded-pill mx-2 px-2 py-0" %>
    <%= button_to "Tuần này", admin_reportlist_path, method: :get, params: { option: "week" }, class:"btn btn-outline-secondary rounded-pill mx-2 px-2 py-0" %>
    <%= button_to "Tuần trước", admin_reportlist_path, method: :get, params: { option: "lastweek" }, class:"btn btn-outline-secondary rounded-pill mx-2 px-2 py-0" %>
    <%= button_to "Tháng này", admin_reportlist_path, method: :get, params: { option: "month" }, class:"btn btn-outline-secondary rounded-pill mx-2 px-2 py-0" %>
</div>