<div class="d-flex justify-content-center mb-4">
  <div class="card mt-5" style="width: 40rem;">
    <div class="card-header text-center">
      <h1>Edit user</h1>
    </div>
    <div class="card-body px-4">
      <%= form_with model: @user do |f| %>
        <div class="form-group">
          <%= f.text_field :username, class: "form-control p-2 mb-3", placeholder: "Username" %>
        </div>

        <div class="form-group">
          <%= f.text_field :email, class: "form-control p-2 mb-3", placeholder: "Email" %>
        </div>
        
        <div class="form-group">
          <%= f.text_field :phone, class: "form-control p-2 mb-3", placeholder: "Phone" %>
        </div>

        <div class="form-group">
          <%= f.text_field :address, class: "form-control p-2 mb-3", placeholder: "Address" %>
        </div>

        <div class="actions mt-4 mb-2">
          <%= f.submit "Update User", class: "btn btn-success w-100 p-2" %>
        </div>
        <div class="text-center"><%= link_to "Cancel", users_path, class:"text-decoration-none text-success"%></div>
      <% end %>
    </div>
  </div>
</div>