<div class="container mb-5 mt-5" id="products-listing">
  <div class="pd-5">

    <div class="strike-under">
      <h1 class="text-center mb-4"><span><%= yield :page_title %></span></h1>
    </div>

    <div class="row">
      <% if products.count == 0 %>
        <p class="fs-4 ms-4 mt-4">Cannot find any products</p>
      <% elsif products.count == 1 %>
        <% products.each do |product| %>
          <%= render 'shared/product', product: product %>
        <% end %>
      <% else %>
        <div class="apple_pagination">
          <%= will_paginate products, :container => false %>
        </div>
        <% products.each do |product| %>
          <%= render 'shared/product', product: product %>
        <% end %>
        <div class="apple_pagination">
          <%= will_paginate products, :container => false %>
        </div>
      <% end %>
    </div>

  </div>
</div>