<%= form_with(model: @order) do |form| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% @order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="card p-3">
      <div class="field">
        <h6 class="text-uppercase">Thông tin cá nhân</h6>
            <%= form.label :name, class: "form-control" %>
            <%= form.text_field :name, :size => 40 %>
      </div>

      <div class="field">
        <%= form.label :address %>
        <%= form.text_area :address, :rows => 3, :cols => 40 %>
      </div>

      <div class="field">
        <%= form.label :phone %>
        <%= form.text_field :phone, :size => 40 %>
      </div>
  </div>
  
  <div class="card p-3">
    <h5>Đây là những thứ bn sắp phải trả tiền nè, lẹ cái tay lên bn êii</h5>
    <% @cart.cart_items.each do |item| %>
      <div class="d-flex justify-content-between mx-4">
        <p class="w-50"><%= item.product.title %></p>
        <p class="w-25">x<%= item.quantity.to_s %></p>
        <p class="w-25"><%= thanh_tien(item) %>đ</p>
      </div>
    <% end %>
    <div class="d-flex justify-content-between mx-4">
      <h5 class="w-75">Giảm giá</h5>
      <p class="w-25">-20000đ</p>
    </div>
    <div class="d-flex justify-content-between mx-4">
      <h5 class="w-75">TỔNG CỘNG</h5>
      <p class="w-25"><%= @cart.total %>đ</p>
    </div>
  </div>

  <div class="card p-3">
    <h6 class="text-uppercase">Hình Thức</h6>
    <div class="field">
      <%= form.label :pay_type %>
      <%= form.select :pay_type, Order::PAYMENT_TYPES, :prompt => 'Select a payment method' %>
    </div>

    <div class="field">
      <%= form.label :order_form %>
      <%= form.select :order_form, Order::ORDERS_FORM, :prompt => 'Select a order form' %>
    </div>
  </div>
    <div class="actions">
      <%= form.submit 'Đặt Hàng', class:"btn btn-danger w-100 mt-4 mb-2" %>
    </div>
 
<% end %>
