<div class="container mb-5">
  <h1 class="text-center my-4">Quản lý đơn hàng</h1>

  <table class="table colorloeloet table-striped ">
    <thead>
      <tr>
        <th>Người mua</th>
        <th>Địa chỉ</th>
        <th>SĐT</th>
        <th>Hình thức thanh toán</th>
        <th>Nhận hàng</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.name %></td>
          <td class="w-25"><%= order.address %></td>
          <td><%= order.phone %></td>
          <td><%= order.pay_type %></td>
          <td><%= order.order_form %></td>
          <td>
            <div class="btn-group float-end me-5" role="group" aria-label="Basic mixed styles example">
              <%= link_to 'Show', order ,class: "btn btn-primary"%>
              <%= link_to 'Destroy', order, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
</div>
