<div class="container mb-5">
  <h1 class="text-center my-4">Quản lý đơn hàng</h1>

  <table class="table colorloeloet table-striped ">
    <thead>
      <tr>
        <th>Mã đơn hàng</th>
        <th>Người mua</th>
        <th>Địa chỉ</th>
        <th class="px-4">SĐT</th>
        <th>Trạng thái đơn hàng</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <th scope="row" class="ps-4 py-4"><%= link_to "HD%04d"%[order.id], order_path(order), class:"text-decoration-none" %></th>
          <td class="py-4"><%= order.name %></td>
          <td class="w-25 py-4"><%= order.address %></td>
          <td class="py-4 px-4"><%= order.phone %></td>
          <td class="py-4"><%= order.status ? "Giao hàng thành công" : "Đang vận chuyển" %></td>
          <td class="py-4">
            <div class="btn-group float-end me-5" role="group" aria-label="Basic mixed styles example">
              <%= link_to "Edit", edit_order_path(order), class: "btn btn-warning" %>
              <%= link_to 'Destroy', order, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="apple_pagination">
    <%= will_paginate @orders, :container => false %>
  </div>

  <br>
</div>
