<p>
  <strong>Name:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @order.phone %>
</p>

<p>
  <strong>Pay type:</strong>
  <%= @order.pay_type %>
</p>

<p>
  <strong>Order form:</strong>
  <%= @order.order_form %>
</p>

<div class="card p-3">
    <h5>Chuẩn bị ngân lượng sẵn đi bn nhé, shipper sắp tới rồi đấy :)</h5>
    <% @order.order_items.each do |item| %>
      <div class="d-flex justify-content-between mx-4">
        <p class="w-50"><%= item.product.title %></p>
        <p class="w-25">x<%= item.quantity.to_s %></p>
        <p class="w-25"><%= item.thanh_tien %>đ</p>
      </div>
    <% end %>
    <div class="d-flex justify-content-between mx-4">
      <h5 class="w-75">Giảm giá</h5>
      <p class="w-25">-20000đ</p>
    </div>
    <div class="d-flex justify-content-between mx-4">
      <h5 class="w-75">TỔNG CỘNG</h5>
      <p class="w-25"><%= @order.total %>đ</p>
    </div>
  </div>

<%# <%= link_to 'Edit', edit_order_path(@order) %> 
<%# <%= link_to 'Back', orders_path %> 
<%= link_to 'Back', root_path %> 
