
<%= stylesheet_link_tag 'food', media: 'all', 'data-turbolinks-track' => true %>
<div class="wrapper mb-4">
    <div class="container">
        <div class="row g-1 mb-3">
            <div class="col-md-3">
                <div class="card p-3" style="width: 17rem;">
                    <img width="200px" height="200px"<%= image_tag "5.jpeg" %>
                    <div class="product-details"><span class="font-weight-bold d-block">Gia tien</span><span>Ten mon an</span>
                        <div class="buttons d-flex flex-row">
                            <div class="cart" >
                            <img width="50px" height="48px" <%= image_tag "icon.png" %>  
                            
                            </div> <button class="btn btn-success cart-button btn-block"> Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card p-3" style="width: 17rem;">
                   <img width="200px" height="200px" <%= image_tag "1.jpeg" %>
                    <div class="product-details"><span class="font-weight-bold d-block">Gia tien</span> <span> Ten mon an</span>
                        <div class="buttons d-flex flex-row">
                            <div class="cart" >
                            <img width="50px" height="48px" <%= image_tag "icon.png" %>  
                            
                            </div> <button class="btn btn-success cart-button btn-block"> Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card p-3" style="width: 17rem;">
                   <img width="200px" height="200px" <%= image_tag "3.jpeg" %>
                    <div class="product-details"> <span class="font-weight-bold d-block"> Gia tien</span> <span>Ten mon an</span>
                        <div class="buttons d-flex flex-row">
                            <div class="cart" >
                            <img width="50px" height="48px" <%= image_tag "icon.png" %>  
                            
                            </div> <button class="btn btn-success cart-button btn-block">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card p-3" style="width: 17rem;">
                    <img width="200px" height="200px" <%= image_tag "3.jpeg" %> 
                    <div class="product-details"> <span class="font-weight-bold d-block">Gia tien</span> <span>Ten mon an</span>
                        <div class="buttons d-flex flex-row">
                            <div class="cart" >
                            <img width="50px" height="48px" <%= image_tag "icon.png" %>  
                            
                            </div> <button class="btn btn-success cart-button btn-block">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <div class="row g-1 mb-3">
            <div class="col-md-3">
                <div class="card p-3" style="width: 17rem;">
                    <img width="200px" height="200px" <%= image_tag "5.jpeg" %>  
                    <div class="product-details"> <span class="font-weight-bold d-block">gia tien</span> <span>Ten mon an</span>
                        <div class="buttons d-flex flex-row">
                            <div class="cart" >
                            <img width="50px" height="48px" <%= image_tag "icon.png" %>  
                            
                            </div> <button class="btn btn-success cart-button btn-block"> Thêm vào giỏ hàng</button>
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card p-3" style="width: 17rem;">
                    <img width="200px" height="200px" <%= image_tag "4.jpeg" %>
                    <div class="product-details"> <span class="font-weight-bold d-block"> Gia tien</span> <span>Ten mon an</span>
                        <div class="buttons d-flex flex-row">
                            <div class="cart" >
                            <img width="50px" height="48px" <%= image_tag "icon.png" %>  
                            
                            </div> <button class="btn btn-success cart-button btn-block">Thêm vào giỏ hàng</button>
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card p-3" style="width: 17rem;">
                    <img width="200px" height="200px"<%= image_tag "3.jpeg" %> 
                    <div class="product-details"> <span class="font-weight-bold d-block">Gia tien</span> <span>Ten mon an</span>
                        <div class="buttons d-flex flex-row">
                            <div class="cart" >
                            <img width="50px" height="48px" <%= image_tag "icon.png" %>  
                            
                            </div> <button class="btn btn-success cart-button btn-block">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card p-3" style="width: 17rem">
                    <img width="200px" height="200px" <%= image_tag "3.jpeg" %> 
                    <div class="product-details"> <span class="font-weight-bold d-block"> gia tien</span> <span>Ten mon an</span>
                        <div class="buttons d-flex flex-row">
                            <div class="cart" >
                            <img width="50px" height="48px" <%= image_tag "icon.png" %>  
                            
                            </div> <button class="btn btn-success cart-button btn-block"> Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
