<div class="card ps-3 pe-2 py-4 mb-3" id="cart-item">
  <div class="row">
    <div class="col-sm-2 d-flex align-items-center">
      <input type="checkbox" data-checkbox-id="<%=cart_item.id%>" class="me-3 checkbox">
      <img class="img" src="<%= cart_item.product.image_url %>">
    </div>

    <div class="col-sm-3 d-flex align-items-center" style="font-size:14px;">
      <%= link_to cart_item.product.title, product_details_path(cart_item.product), class:"link-to" %>
    </div>

    <div class="col-sm-2 d-flex align-items-center fw-bold" style="font-size:14px;">
      <%= number_to_currency(cart_item.product.price, unit:"", precision: 0, delimiter:'.') %>đ
    </div>

    <div class="col-sm-2 d-flex align-items-center">
      <div class="group-input d-flex change-quantity" data-item-id="<%=cart_item.id%>" 
          data-product-id="<%=cart_item.product.id%>" data-cart-id="<%=cart_item.cart.id%>">
        <div class="btn rounded-start descrease"></div>
        <input type="number" value="<%=cart_item.quantity%>" min="1" class="text-center" id="item-<%= cart_item.id %>">
        <div class="btn rounded-end increase"></div>
      </div>
    </div>

    <div class="col-sm-2 d-flex align-items-center text-danger fw-bold ps-5" style="font-size:14px;" id="item-<%= cart_item.id %>-total-cost">
      <%= number_to_currency(thanh_tien(cart_item), unit:"", precision: 0, delimiter:'.') %>đ
    </div>

    <div class="col-sm-1 d-flex align-items-center">
      <%= button_to [cart_item.cart, cart_item], params: { product_id: cart_item.product.id },
                        method: :delete,
                        data: { confirm: "Are you sure?" }, class:"btn" do %>
        <%= image_tag('https://i.ibb.co/dDWWbtz/trash.png') %>
      <% end %>
    </div>
  </div>
</div>
