<div class="card mx-auto mb-3" style="max-width: 1000px; min-height: 0px">
  <div class="row g-0">
    <div class="col-md-3">
      <% if product.image_url %>
        <%= image_tag product.image_url, class:"rounded", style:"max-width: 250px;" %>
      <% end %>
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h4 class="card-title mb-3"><%= truncate product.title, length: 40 %></h4>
        <p class="card-text"><b>Type: &ensp;</b><%= product.product_type %></p>
        <p class="card-text"><b>Description: &ensp;</b><%= product.description %></p>
        <p class="card-text"><b>Price: &ensp;</b><%= number_to_currency(product.price, unit:"", precision: 0, delimiter:',') %> VND</p>
        <p class="card-text"><b>Quantity: &ensp;</b><%= product.quantity %></p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card-body float-end">
        <%= link_to "Show", product_path(product), class: "btn btn-primary" %>
        <%= link_to "Edit", edit_product_path(product), class: "btn btn-warning" %>
        <%= link_to "Delete", product_path(product),
                        method: :delete,
                        data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>