
<div class="card mb-3" style="max-width: 2000px;">
  <div class="row g-0">
    <div class="col-md-4">
    <%= image_tag @product.image_url , class:"rounded mx-auto d-block", style:"max-width: 200px;" %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><p><b>Title: </b><%= @product.title %></p></h5>
        <p class="card-text">Price: &ensp;</b><%= number_to_currency(@product.price, unit:"", precision: 0, delimiter:',') %> VND</p>
        <p class="card-text">Product_type: </b><%= @product.product_type %> </small></p>
        <p class="card-text">Quantity: </b><%= @product.quantity %>  </small></p>
        <p class="card-text">Description: </b><%= @product.description %>  </small></p>
      </div>
    </div>
  </div>

  <% @product.reviews.each do |review| %>
    <%= render 'reviews/review', review: review %><br>
  <% end %>

  <div>
    <%= link_to "<< Back to Product", products_path, class: "btn btn-outline-success"  %>
  </div>
</div>