






<div class="card border-secondary mb-3">
  <div class="card-body text-secondary">
    <h5 class="card-title text-center"><p><b>Title: </b><%= @product.title %></p></h5>
    <p class="card-price text-center">Price: &ensp;</b><%= number_to_currency(@product.price, unit:"", precision: 0, delimiter:',') %> VND</p>
    <p class="card-price text-center">Product_type: </b><%= @product.product_type %> </p>
    <p class="card-price text-center">Quantity: </b><%= @product.quantity %>  </p>
    <p class="card-price text-center">Description: </b><%= @product.description %> </p>
  </div>
  
  <% if @product.image.attached? %>
  <%= image_tag @product.image , class:"rounded mx-auto d-block", style:"max-width: 800px;" %>
  <% end %>

  <div style=" bottom: 20px; right: 150px; z-index: 1">
    <%= link_to "<< Back to Product", products_path, class: "btn btn-outline-success" %>
  </div>
</div>
