<div class="container mt-4 mb-5">
  <div class="row p-5 bg-light border rounded mb-3" style="min-height:590px; position:relative;">
    <div class="col-md-5 mt-4">
      <%= image_tag @product.image_url, width: 470, class: "border border-5 border-info rounded" %>
    </div>
    
    <div class="col-md-6 fs-5" style="margin-left: 80px">
      <p class="display-5 fst-italic"><%= @product.title %></p>
      <p>------------------------------------------------------</p>
      <p class="card-text"><b>Loại sản phẩm: </b><%= @product.product_type.upcase %></p>
      <p class="mt-3"><b>Mô tả: &ensp;</b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem est aspernatur nam aliquid, iusto impedit cupiditate necessitatibus ipsum saepe corrupti!</p>
      <p class="card-text"><b>Số lượng: </b><%= @product.quantity %></p>
      <p class="fs-1 text-danger"><%= number_to_currency(@product.price, unit:"", precision: 0, delimiter:'.') %> đ</p>
    </div>
  </div>

  <div class="row p-4 border rounded" >
    <h3 class="mb-4">Đánh Giá - Nhận Xét Từ Khách Hàng</h3>
    <p class="mb-4">
      <span class="fs-2"><%= "%0.1f"%[average_rating_point(@product)] %> </span>
      <% average_rating_point(@product).ceil.times do %>
        <span class="star text-warning fs-2">★</span>
      <% end %>
    </p>

    <% @reviews.each do |review| %>
      <hr> 
      <%= render 'reviews/review', review: review %>
    <% end %>
    <div class="apple_pagination">
      <%= will_paginate @reviews, :container => false %>
    </div>
  </div>
</div>