<h2>Edit Review</h2>

<div class="card mt-5" style="width: 35rem;">
  <div class="card-body px-4">
      <%= form_with model: [ @product, @review ] do |form| %>

        <%= form.label "Review" %><br>
        <div class="form-group mt-3 d-flex justify-content-between">
          <p> <%= current_user.username%>    </p>
        </div>
        <div class="form-group mt-3 d-flex justify-content-between">
              <%= form.label "comment" %>
              <%= form.text_area :content %>
        </div>
    <p>
            <%= form.label :rating, "Rate this product" %>
                        <%= form.select(:rating, options_for_select([
                                ["1", 1],
                                ["2", 2],
                                ["3", 3],
                                ["4", 4],
                                ["5", 5]
                                ])) %>
  </p>
  <p>
    <%= form.submit %>
  </p>
  </div>
<% end %>