<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3">
  <div class="container-fluid">
    <h2><%= link_to "T2FoodStore", root_path, class: "navbar-brand" %></h2>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Trang Chủ", root_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Món Chính", pages_foods_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Thức Uống", pages_drinks_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Giới Thiệu", pages_introduce_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Hỗ Trợ", pages_support_path, class:"nav-link" %>
        </li>
      </ul>

      <ul class="navbar-nav mb-2 me-4 mb-lg-0 d-flex">
        <% if user_signed_in? %>
          <% create_new_cart(current_user) %>
          <li class="nav-item dropdown me-4">
            <a class="nav-link px-3 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= current_user.username %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><%= link_to "Your profile", edit_user_registration_path, class:"dropdown-item" %></li>
              <li><%= link_to "Admin", admin_dashboard_path, class:"dropdown-item" %></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= button_to "Logout", destroy_user_session_path, method: :delete, class:"dropdown-item" %></li>
            </ul>
          </li>
          <li class="nav-item">
            <%= link_to cart_path(current_user.cart) do %>
              <%= image_tag('https://i.ibb.co/NFkg7KT/cart.png', height: '32', width: '32', class:"opacity-75 mt-1") %>
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Đăng Nhập", new_user_session_path, class:"nav-link px-0" %>
          </li>
          <li class="nav-item"><span class="nav-link">/</span></li>
          <li class="nav-item me-4">
            <%= link_to "Đăng Ký", new_user_registration_path, class:"nav-link ps-0" %>
          </li>
          <li class="nav-item">
            <%= link_to new_user_session_path do %>
              <%= image_tag('https://i.ibb.co/NFkg7KT/cart.png', height: '32', width: '32', class:"opacity-75 mt-1") %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>