<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <h2><%= link_to "T2FoodStore", root_path, class: "navbar-brand" %></h2>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Trang Chủ", root_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Món Chính", pages_food_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Thức Uống", pages_drink_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Giới Thiệu", pages_introduce_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Hỗ Trợ", pages_support_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Giỏ Hàng", pages_giohang_path, class:"nav-link" %>
        </li>
      </ul>

      <ul class="navbar-nav mb-2 mb-lg-0 d-flex">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to current_user.username, edit_user_registration_path, class:"nav-link btn me-2" %>
          </li>
          <li class="nav-item">
            <%= button_to "Logout", destroy_user_session_path, method: :delete, class:"nav-link btn btn-outline-success px-3" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class:"nav-link btn me-2" %>
          </li>
          <li class="nav-item">
            <%= link_to "Signup", new_user_registration_path, class:"nav-link btn btn-outline-success px-3" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>